.partners {
    &__wrapper {
        padding-bottom: 108px;
    }
    &__title {
        text-align: center;
        margin-bottom: 48px;
    }
}

.partner__wrapper {
    padding: 45px 36px;
    text-align: center;
}

