.promo {
    &__title {
        margin-bottom: 24px;
    }
    &__text {
        max-width: 639px;
        @include font($size: 2.2rem, $height: 3.2rem, $weight: 300);
        margin-bottom: 24px;
    }
    &__items {
        display: flex;
        align-items: center;
        margin-bottom: 48px;
    }
    &__button {
        margin-bottom: 24px;
    }
    &__content {
        max-width: 50%;
    }
    &__wrapper {
        display: flex;
        margin-bottom: 200px;
        position: relative;
    }
    &__image-circle {
        position: absolute;
        right: -240px;
        z-index: -3;
    }
    &__image-tel1 {
        position: absolute;
        right: 40px;
        top: 148px;
        z-index: -1;
    }
    &__image-tel2 {
        position: absolute;
        right: -173px;
        top: 62px;
        z-index: -2;
    }
}


